{% extends 'base.html.twig' %}


{% block body %}
    {% block controls %}{% endblock %}

    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
{% endblock %}
